@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-accent: #8b5cf6;
}

body {
    font-family: var(--font-sans);
    @apply bg-slate-950 text-white overflow-x-hidden;
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #0f172a;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #334155;
        border-radius: 3px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #475569;
    }
}